@model List<AGMPOP.BL.Models.ViewModels.AuditSearchVM>

<div class="card card-body">
    <div class="row">
        <div class="col-12 text-right">


            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
            <button type="button" class="btn btn-success btn-md" onclick="ExportAudit()">
                Export&nbsp;&nbsp;
                <i class="fas fa-file-excel"></i>
            </button>
            <hr />
                }

            }

        </div>
        <div class="col-md-12">


            <table id="Audit-table" class="table table-bordered table-striped table-responsive-sm">
                <thead>
                    <tr>
                        <th data-field="id">User</th>
                        <th data-field="name">Date</th>
                        <th data-field="name">Action</th>
                        <th data-field="name">Table Name</th>
                        <th data-field="name" data-sortable="false" class="text-center"></th>

                    </tr>
                </thead>
                <tbody>

                    @{

                        if (Model.Count != 0)
                        {



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <b>@item.UserName</b>
                                    </td>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.ActionName
                                    </td>
                                    <td>
                                        @item.TableName
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.OldData))
                                        {
                                            <button onclick="ViewData(@item.OldData)" class="btn btn-sm btn-secondary"> Old Data</button>

                                        }
                                        @if (!string.IsNullOrEmpty(item.NewData))
                                        {
                                            <button onclick="ViewData(@item.NewData)" class=" btn btn-sm btn-primary">New Data </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="10" class="lead text-center"> There is no data to view</td>
                            </tr>

                        }
                    }

                </tbody>
            </table>

        </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
</div>
    @if (Model.Count > 0)
    {
        <script>
            $(document).ready(function () {

                $('#Audit-table').DataTable({
                    "pageLength": 30,
                    "autoWidth": false
                });


            });
        </script>
    }

