@model IEnumerable<AGMPOP.Web.Models.Inventory.InventoryTransaction>
@{
    if (Model?.Count() > 0)
    {
        ViewData["Title"] = "Product Transactions log";
    }
    else
    {
        ViewData["Title"] = "Transactions log";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body mt-3">
    <div class="row">
        <div class="col-md-6">
            @if (Model.Count()>0)
            {
                <h2 class="mt-1"><i class="fas fa-box-open"></i>&nbsp;&nbsp;@Model.Select(f => f.Name).FirstOrDefault()</h2>
            }
            else
            {
               <h2 class="mt-1"><i class="fas fa-box-open"></i>&nbsp;&nbsp;Product Transactions</h2>
            }
        </div>
        <div class="col-md-6 text-right">
            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    <button type="button" class="btn btn-success btn-md" onclick="ExportTransactionInventory()">
                        Export&nbsp;&nbsp;
                        <i class="fas fa-file-excel"></i>
                    </button>
                }

            }

        </div>
        <div class="col-12">
            <hr />
        </div>
        <div class="col-md-12">
            <div class="pl-2 pr-2">
                <table id="dtInventoryLog" class="table table-striped" cellspacing="0">
                    <thead>
                        <tr>

                            <th class="text-center"></th>
                            <th>Cycle Name</th>
                            <th class="text-center">Old Quantity</th>
                            <th class="text-center"> Quantity</th>
                            <th class="text-center">New Quantity</th>

                            <th class="text-center">Created Date</th>
                            <th class="text-center">Created By</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count()>0)
                        {

                            foreach (var item in Model)
                            {
                        <tr>

                            <td class="text-center">
                                <div class="img-circle product-img" style="background-image:url('@item.image.Replace(@"\", "/")');" />

                                <input type="text" id="tempProductId" value="@item.ProductId" hidden />
                            </td>
                            <td>
                                <b> @item.CycleName</b>
                            </td>
                            <td class="text-center">
                                @item.OldQuantity
                            </td>

                            <td class="text-center">
                                @if (item.typeId == (int)AGMPOP.BL.Models.ViewModels.POPEnums.InventoryActionType.Increment)
                                {
                                    <p class="text-success">  <b >(+) </b>    @item.Quantity</p>


                                }
                                @if (item.typeId == (int)AGMPOP.BL.Models.ViewModels.POPEnums.InventoryActionType.Decrement)
                                {
                                    <p class="text-danger"><b>(-) </b>    @item.Quantity </p>

                                }

                            </td>
                            <td class="text-center">
                                <b>@item.NewQuantity</b>
                            </td>
                            <td class="text-center"> @item.date </td>
                            <td class="text-center"> @item.createdBy </td>

                        </tr>



                            }

                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="7">  No transaction for this inventory </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
@*pagination*@
<script type="text/javascript">


    $(document).ready(function () {
        $('.material-tooltip-main').tooltip();
         @if (Model.Count() > 0)
         {
        <text> $('#dtInventoryLog').DataTable({
             "autoWidth": false});</text>
         }
        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

    });

</script>

<script>
    function TransactionProduct(id) {

        $.ajax({
            url: '@Url.Action("TransactionProductDetails")',
            method: 'POST',
            data: {id},
            success: response => {
                console.log(response);

                if (response && response.length) {

                }
            }
        });

    }

</script>
<script>


    async function ExportTransactionInventory() {
        debugger;
        var id = $("#tempProductId").val();
        console.log(id);
        var now = moment().format();
        fetch(
            '@Url.Action("ExportTransactionInventory","Inventory")' + '?id=' + id, {
             method: 'get',
             headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        }).then(response => {
            return response.blob();
        }).then(blob => {
            if (!blob) {
                swal.fire({
                    icon: 'error',
                    text: 'No file to download',
                });
                return;
            } else if (!blob.size){
                swal.fire({
                    icon: 'error',
                    text: 'You don\'t have permission',
                });
                return;
            }
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = `TranactionInventoryLog_${now}.xlsx`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            }).catch(err => {
                swal.fire({
                icon: 'error',
                text: 'An error occured',
            });
        });
    }
</script>






