@model List<AGMPOP.BL.Models.ViewModels.ProductCycleModel>


@if (Model != null)
{
    <div class="modal-header d-flex justify-content-between">
        <h5  class="modal-title p-n m-n pull-left ">Transaction's Products @Model.Count() items</h5>
        <button data-dismiss="modal" class="close">&times;</button>
    </div>
    <div class="modal-body">

        <table id="cycles-table" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" data-field="photo">Photo</th>
                    <th class="text-center" data-field="name">Name</th>
                    <th class="text-center" data-field="code">Code</th>
                    <th class="text-center" data-field="type">Quantity</th>
    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <img src="@item.ProductImg"class="img-circle product-img" />
                        </td>
                        <td class="text-center">
                            <a>@item.ProductName</a>
                        </td>
                        <td class="text-center">@item.Code</td>
    
    
                        <td class="text-center">
                            @item.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="p-sm">
        <div>
            <strong class="title pull-left">
                There is no Transaction Detials on this Transaction!
            </strong>
        </div>
    </div>
}




