@model List<AGMPOP.BL.Models.ViewModels.ProductDTO>

<div class="row">
    <div class="col-12 text-right mb-2">
        <button type="button" class="btn btn-outline-success btn-md" onclick="location.href='@Url.Action("ImportProduct", "Product")'">
            <b>Import</b>&nbsp;&nbsp;<i class="fas fa-arrow-down"> </i>
        </button>
        @if (Model?.Count > 0)
        {
            <button type="button" class="btn btn-success btn-md" onclick="ExportProdcut()">
                Export&nbsp;&nbsp;<i class="fas fa-file-excel"> </i>
            </button>
        }
        <hr />
    </div>
    <div class="col-md-12">
        <div class="">
            <table id="dtBasicExample" class="table table-responsive-sm  table-striped " cellspacing="0">
                <thead>
                    <tr>
                        <th data-sortable="false" data-field="photo"></th>
                        <th data-field="name" data-sortable="true" ">Name</th>
                        <th data-field="code" class="text-center">Code</th>
                        <th data-field="DepartmentId" class="text-center">Department</th>
                        <th data-field="TypeId" class="text-center">Status</th>
                        <th data-sortable="false" class="td-actions text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model?.Count > 0)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <div class="img-circle product-img" style="background-image:url('@item.Image.Replace(@"\", "/")');" />

                                    </td>
                                    <td>
                                        <b><a class="btn-link font-weight-bold text-primary" onclick="ShowProductDetails(@item.ProductId)">@item.ProductName</a></b>

                                    </td>
                                    <td class="text-center">
                                        @item.Code
                                    </td>
                                    <td class="text-center">
                                        @item.DepartmentName
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            <i title="Active" class="material-tooltip-main text-success fas fa-check-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">1</span></i>
                                        }
                                        else
                                        {
                                            <i title="Inactive" class="material-tooltip-main text-danger fas fa-times-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">0</span></i>
                                        }
                                    </td>
                                    <td class="text-center">


                                        <button class="material-tooltip-main btn-primary btn-floating btn-sm" data-toggle="tooltip" title="Edit" onclick="Edit(@item.ProductId)">
                                            <i class="fas fa-pencil-alt "></i>
                                        </button>
                                        @if (item.IsActive)
                                        {
                                            <button class="material-tooltip-main btn-danger btn-floating btn-sm btnDectivation" data-toggle="tooltip" title="Deactivate" value="@item.ProductId">
                                                <i class="fas fa-lock"></i>
                                            </button>


                                        }
                                        else
                                        {

                                            <button class="material-tooltip-main btn-success btn-floating btn-sm btnActivation" data-toggle="tooltip" title="Activate" value="@item.ProductId">
                                                <i class="fas fa-lock-open"></i>
                                            </button>

                                        }
                                    </td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    data Not Found
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>



        </div><!--  end card  -->


    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
@*pagination*@
<script type="text/javascript">

    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "autoWidth": false
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });
    });

</script>

@*Active DeActive*@

<script type="text/javascript">
    $(function () {
        $('.material-tooltip-main').tooltip();
    })


            $(".btnActivation").click(function (e) {
                var ProductId = $(this).val();

                Swal.fire({
                     text: "Are you sure you want to activate this product?",
                    icon: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '@Url.Action("activate", "Product")',
                            data: { ProductId },
                            type: "Post",
                            success: function (data) {
                            },

                        });

                        Swal.fire({
                            text: 'Your Product has been Activated',
                            icon: 'success',
                        }
                        ).then(
                            function () {
                                loadProduct();

                            }
                        );

                    }
                })

            })



            $(".btnDectivation").click(function (e) {
                var ProductId = $(this).val();
                Swal.fire({
                    text: "Are you sure you want to deactivate this product?",
                    icon: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '@Url.Action("Deactivate", "Product")',
                            data: { ProductId },
                            type: "Post",
                            success: function (data) {
                            },
                        });
                        Swal.fire({
                           text: 'Your Product has been Deactivated',
                            icon:'success',
                        }
                        ).then(
                            function () {
                                loadProduct();

                            }
                        );

                    }

                })

            })


</script>

