
@model IEnumerable<AGMPOP.BL.Models.Domain.JobTitle>



<table id="dtBasicExample" class="table table-striped" cellspacing="0" >
    <thead>
        <tr>
            <th></th>
            <th class="th-sm pl-3">
                Job Title
            </th>
            <th class="th-sm text-center" data-sortable="false" width="270px">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>


        @if (Model.Count() > 0)
        {

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td> @item.Name</td>
                    <td>
                        <input type="text" class="form-control" style="width:300px;" value="@item.Name" id="@item.JobTitleId" onclick="changeJob(@item.JobTitleId)" disabled />
                        <span id="msg" style="display:none;color:red">This field is required.</span>
                        <input id="temp" type="hidden" value="@item.Name" />
                    </td>
                    <td class="text-center" width="150">
                        @if (item.Type ==(int) AGMPOP.BL.Models.ViewModels.POPEnums.JobType.UserDefined)
                        {


                            <button class="material-tooltip-main btn-primary btn btn-floating btn-sm my-0 p-0" data-toggle="tooltip" title="Edit" id="@(item.JobTitleId+"edit")" onclick="editJob(@item.JobTitleId)">
                                <i class="fas fa-pencil-alt " style="font-size:14px;"></i>
                            </button>


                            <button class="material-tooltip-main btn-danger btn btn-floating btn-sm my-0 p-0 d-none" data-toggle="tooltip" title="Cancel" id="@(item.JobTitleId + "cancle")" onclick="cancleJob(@item.JobTitleId)">
                                <i class="fas fa-times " style="font-size:14px;"></i>
                            </button>

                            <button class="material-tooltip-main btn-success  btn btn-floating btn-sm my-0 p-0 d-none" data-toggle="tooltip" title="Save" id="@(item.JobTitleId + "save")" onclick="saveJob(@item.JobTitleId)">
                                <i class="fas fa-check" style="font-size:14px;"></i>
                            </button>
                            <button class="material-tooltip-main btn btn-danger btn-floating btn-sm my-0 p-0" data-toggle="tooltip" title="Delete" onclick="showSwal(@item.JobTitleId)">
                                <i class="fa fa-trash-alt" style="font-size:14px;"></i>
                            </button>
                             
                        }
                    </td>

                </tr>
            }
        }
        else
        {
            <tr> <td class="lead"> No date </td></tr>
        }

    </tbody>

</table>
<script>
    $(document).ready(function () {

        $("select").removeClass("custom-select");
        $('#dtBasicExample').DataTable({
            
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": true,
                    "orderData": [0]
                },
                {
                    "targets": [0],
                    "visible": false,
                }
            ],
            "autoWidth": false
        });


    });
</script>

