@model IEnumerable<AGMPOP.BL.Models.Domain.Department>
<table id="dtBasicExample" class="table table-striped" cellspacing="0">
    <thead>
        <tr>
            <th></th>
            <th class="th-sm">Department Name</th>
            <th class="text-center">Status</th>
            <th data-sortable="false" class="th-sm" width="150">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>

                        <input type="text" class="form-control" style="width:250px; margin-left:10px" value="@item.Name" id="@item.Id" onclick="changeDept(@item.Id)" disabled />
                        <span id="msg" style="display:none;color:red">This field is required.</span>

                        <input id="temp" type="hidden" value="@item.Name" />

                    </td>
                    <td class="text-center">
                        @if (item.IsActive == true)
                        {
                            <i title="Active" class="material-tooltip-main text-success fas fa-check-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">1</span></i>
                        }
                        else
                        {
                            <i title="Inactive" class="material-tooltip-main text-danger fas fa-times-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">0</span></i>
                        }
                    </td>
                    <td>


                        <button class="material-tooltip-main btn-primary btn-floating btn-sm" data-toggle="tooltip" title="Edit" id="@(item.Id + "edit")" onclick="javascript:editDept(@item.Id)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>


                        <button class="material-tooltip-main btn-danger btn-floating my-0 p-0 btn-sm d-none" data-toggle="tooltip" title="Cancel" id="@(item.Id + "cancle")" onclick="cancleDept(@item.Id)">
                            <i class="fas fa-times"></i>
                        </button>

                        <button class="material-tooltip-main btn-success btn-floating btn-sm d-none" data-toggle="tooltip" title="Save" id="@(item.Id + "save")" onclick="saveDept(@item.Id)">
                            <i class="fas fa-check"></i>
                        </button>



                        @*<button class="material-tooltip-main btn-danger btn-floating  btn-sm" data-toggle="tooltip" title="Delete" onclick="showSwal(@item.Id)">
                                <i class="fa fa-trash-alt" ></i>
                            </button>*@

                        @if (item.IsActive == true)
                        {
                            <button class="material-tooltip-main btn-danger btn-floating btn-sm" data-toggle="tooltip" title="Deactivate" onclick="deactivateDept(@item.Id)">
                                <i class="fas fa-lock"></i>
                            </button>
                        }
                        else
                        {
                            <button class="material-tooltip-main btn-success btn-floating btn-sm" data-toggle="tooltip" title="Activate" onclick="activateDept(@item.Id)">
                                <i class="fas fa-lock-open"></i>
                            </button>

                        }


                    </td>
                </tr>



            }
        }
        else
        {
            <tr> Not found Department</tr>
        }

    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.material-tooltip-main').tooltip({
            //template: '<div class="tooltip md-tooltip"><div class="tooltip-arrow md-arrow"></div><div class="tooltip-inner md-inner"></div></div>'
        });

        $("select").removeClass("custom-select");
        $('#dtBasicExample').DataTable({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": true,
                    "orderData": [0]
                },
                {
                    "targets": [0],
                    "visible": false,
                }
            ],
            "autoWidth": false
        });
    });
</script>