@model IEnumerable<AGMPOP.BL.Models.Domain.Department>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th class="th-sm">Department Name</th>
            <th>Status</th>
            <th class="th-sm text-center" style="width:285px !important">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>

                        <input type="text" class="form-control" style="width:250px; margin-left:10px" value="@item.Name" id="@item.Id" onclick="changeDept(@item.Id)" disabled />
                        <span id="msg" style="display:none;color:red">This field is required.</span>

                        <input id="temp" type="hidden" value="@item.Name" />

                    </td>
                    <td>
                        @if (item.IsActive == true)
                        {
                            <i title="Active" class="text-success fas fa-check-circle" style="font-size:20px;"><span class="sr-only">1</span></i>
                        }
                        else
                        {
                            <i title="Inactive" class="text-danger fas fa-times-circle" style="font-size:20px;"><span class="sr-only">0</span></i>
                        }
                    </td>
                    <td class="text-center">


                        <button class="material-tooltip-main btn-primary  btn btn-floating my-0 p-0" data-toggle="tooltip" title="Edit" id="@(item.Id + "edit")" onclick="javascript:editDept(@item.Id)">
                            <i class="fas fa-edit " style="font-size:15px; margin-top:-5px;"></i>
                        </button>


                        <button class="material-tooltip-main btn-danger  btn btn-floating my-0 p-0 d-none" data-toggle="tooltip" title="Cancel" id="@(item.Id + "cancle")" onclick="cancleDept(@item.Id)">
                            <i class="fas fa-times-circle " style="font-size:15px; margin-top:-5px;"></i>
                        </button>

                        <button class="material-tooltip-main btn-primary  btn btn-floating my-0 p-0 d-none" data-toggle="tooltip" title="Save" id="@(item.Id + "save")" onclick="saveDept(@item.Id)">
                            <i class="fas fa-save " style="font-size:15px; margin-top:-5px;"></i>
                        </button>



                        @*<button class="material-tooltip-main btn btn-danger btn-floating my-0 p-0" data-toggle="tooltip" title="Delete" onclick="showSwal(@item.Id)">
                                <i class="fa fa-trash-alt" style="font-size:15px; margin-top:-5px;"></i>
                            </button>*@

                        @if (item.IsActive == true)
                        {
                            <button class="material-tooltip-main btn btn-danger btn-floating my-0 p-0" data-toggle="tooltip" title="Deactivate" onclick="deactivateDept(@item.Id)">
                                <i class="fad fa-user-times   " style="font-size:15px; margin-top:-5px;"></i>
                            </button>
                        }
                        else
                        {
                            <button class="material-tooltip-main btn btn-success btn-floating my-0 p-0" data-toggle="tooltip" title="Activate" onclick="activateDept(@item.Id)">
                                <i class="fad fa-user-check" style="font-size:15px; margin-top:-5px;"></i>
                            </button>

                        }


                    </td>
                </tr>



            }
        }
        else
        {
            <tr> Not found Department</tr>
        }

    </tbody>
</table>

<script>
    $(document).ready(function () {


        $('.material-tooltip-main').tooltip({
            template: '<div class="tooltip md-tooltip"><div class="tooltip-arrow md-arrow"></div><div class="tooltip-inner md-inner"></div></div>'
        });

        $("select").removeClass("custom-select");
        $('#dtBasicExample').DataTable({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": true,
                    "orderData": [0]
                },
                {
                    "targets": [0],
                    "visible": false,
                }
            ]
        });
    });
</script>