@model IEnumerable<AGMPOP.BL.Models.Domain.Request>
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <table id="dt_RequestInboxPartial" class="table table-responsive-sm table-responsive-md table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true" >Cycle Name</th>
                        <th data-field="" data-sortable="true">Type</th>
                        <th data-field="" data-sortable="true">Date</th>
                        <th data-field="">Status</th>
                        <th data-field="">Total Items</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {


                        foreach (var item in Model)
                        {


                            <tr>
                                <td > @item.Cycle.Name</td>
                                @if (@item.Cycle.Type == 1)
                                {
                                    <td>NationWide</td>
                                }
                                else
                                {
                                    <td>Event</td>
                                }


                                    <td>
                                        
                                        @item.CreateDate.GetValueOrDefault().ToShortDateString()
                                    </td>
                                @if (@item.Status == false)
                                {
                                    <td>Pending</td>
                                }
                                else
                                {
                                    <td>Received</td>
                                }

                                <td>
                                    <span class="badge badge-pill badge-primary">
                                        <a class="btn-link" data-toggle="modal" title='' data-target="#ProductDetails" onclick="GetDetails(@item.RequestId)">@item.RequestDetail.Sum(p => p.RequestAmount)</a>
                                    </span>
                                </td>

                            </tr>

                        }
                    }
                </tbody>
            </table>

        </div>


    </div>

</div>

<div class="modal fade" id="ProductDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="p-n m-n pull-left" id="CycleName"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="stock-table" class="table table-bordered">
                    <thead><tr><th class="text-center">Item Name</th><th class="text-center">Quantity</th></tr></thead>

                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
        //$(document).ready(function () {

        //    $('#dt_RequestInboxPartial').DataTable();

        //});
</script>
