
@{
    ViewData["Title"] = "Requests Inbox";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<form data-ajax="true" data-ajax-mode="Replace" data-ajax-update="#PartialRequestsinboxList" asp-action="SearchRequestsInbox" asp-controller="Requests" method="post" enctype="multipart/form-data">

    <div class="card card-body mt-2">
        <div class="row">

            <div class="col-lg-3 mb-2">

                <input   name="CreateDate" class=" form-control datepicker" id="from_Date" placeholder="From Date"/>


            </div>
            <div class="col-lg-3 mb-2">
                <input    class="  form-control datepicker " name="to_Date" id="to_Date" placeholder="To Date"/>



            </div>
            <div class="col-lg-2">
                <select class="mdb-select" title="Req Status" name="Status" id="Req_status">
                    <option value="" selected disabled>Select Status</option>
                    <option value="false">Pending</option>
                    <option value="true">Received</option>
                </select>
            </div>
            <div class="col-lg-4 text-right">
                <button type="button" class="material-tooltip-main  btn btn-secondary  text-center ml-0 mt-0 px-3 waves-effect waves-light" onclick="location.href='@Url.Action("RequestsInbox", "Requests")'">
                    Clear&nbsp; 
                </button>

                <button type="submit" class=" material-tooltip-main  btn btn-primary  text-center ml-0 mt-0 px-3 mr-0 waves-effect waves-light">
                    Search &nbsp; <i class="fal fa-search fa-align-center" style="vertical-align: middle !important; font-size:20px;"> </i>
                </button>


            </div>
        </div>
    </div>
</form>

<div id="PartialRequestsinboxList" class="mt-2">

</div>
<div class="modal fade" id="ProductDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="p-n m-n pull-left" id="CycleName"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="stock-table" class="table table-bordered">
                    <thead><tr><th>Item Name</th><th>Quantity</th></tr></thead>

                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        loadPatialData();
         

    });
</script>

@*loadPatialData*@
<script>
    function loadPatialData() {
         $.ajax({
            url: '@Url.Action("RequestsInboxList", "Requests")',
            type: "Get",
            contentType: "application/json; charset=utf-8",
             success: function (data) {
                // console.log(data);

                 $('#PartialRequestsinboxList').html(data);
            },
             error: function (x) {

                alert("error" + x);
            },
        });
    }

</script>


<script>

    function GetDetails(id) {

         $('#stock-table tbody').html('');
         $.ajax({
             url: '@Url.Action("GetRequestDetails")' +  '?RequestId=' + id,
             type: "GET",
             success: function (response) {
                 var data = response.productModel;
                if (data) {
                    if (data.length > 0) {

                        $('#CycleName').text(data[0].cycleName)
                        for (var i = 0; i < data.length; i++) {
                            $('#stock-table tbody').append('<tr><td>' + data[i].productName + '</td><td><input class="prodQ" name="prodAmount" style="width:50px" type="number" readonly value="' + data[i].requestAmount +'"></input></td></tr>');
                        }

                    }

                    else {

                        $('#stock-table tbody').append('<tr><td colspan="2">No data found</td></tr>');
                    }
                }
                else {
                    $('#stock-table tbody').append('<tr><td colspan="2">No data found</td></tr>');
                }
            }
        });
    }

    function getHtml(id) {
        var htmlreturn = `<table id="stock-table2" class="table table-bordered"><thead> <tr><th class="text-center">Item Name</th><th class="text-center">Quantity</th></tr></thead><tbody>`;
        var HrRow = `<tr><td class="text-center" colspan="2"><label>Select Hr </label> <select required required="required" id="hrUsers" class="form-control" style="width:50%">`
         $.ajax({
             url: '@Url.Action("GetRequestDetails")' +  '?RequestId=' + id,
             type: "GET",
             async: false,
            success: function (data) {
                if (data) {

                    if (data.productModel ) {

                        $('#CycleName').text(data.productModel[0].cycleName)
                        for (var i = 0; i < data.productModel.length; i++) {
                            htmlreturn += `<tr><td class="text-center">` + data.productModel[i].productName + `</td>
<td class="text-center">
<input class="prodQ valid product" data-trans="`+ data.productModel[i].inventoryQuantity+`" onkeyup="checkValues(event)" name="prodAmount" id="` + data.productModel[i].productId + `" style="width:50px" type="number" value="` + data.productModel[i].requestAmount +`"></input>
</td></tr>`;
                        }

                        if (data.hrModel) {

                            for (var i = 0; i < data.hrModel.length; i++) {
                                HrRow +=`<option value="${data.hrModel[i].id}" selected >${data.hrModel[i].name}</option>`
                                           }

                            HrRow += `</select></td></tr>`;
                            htmlreturn += HrRow;


                        }

                    }
                    else {

                        htmlreturn += '<tr><td class="text-center" colspan="2">No data found</td></tr>' ;
                    }


                }
                else {
                    htmlreturn += '<tr><td class="text-center" colspan="2">No data found</td></tr>' ;
                }


             }

        });
        htmlreturn += ' </tbody></table >'

        return htmlreturn;
    }
</script>

<script>

    function AcceptRequest(ReqID) {


        var RequestId = ReqID;
        getHtml(RequestId);
        var Arr = [];

        // GetDetails(RequestId);
        swal.fire({
            icon:"info",
            text: "Review & Confirm",
            html: getHtml(RequestId),
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#888',
            confirmButtonText: 'Ok',
         }).then((result) => {
            if (result.value) {
                $(".prodQ").each(function (i, item) {
                    // var item = item;
                    var id = item.id;
                    var name = item.name;
                    var val = $("#" + item.id).val();
                    Arr.push(id + ":" + val);
                });
                var hrUserSelected = $("#hrUsers").val();

             
                $.ajax({
                    //  url: '@Url.Action("AcceptRequest")' + '?RequestId=' + ReqID,
                    url: '/Requests/AcceptRequest',
                    type: "POST",
                    data: { RequestId, Arr, hrUserSelected },
                    success: function (result) {
                        if (result != null) {
                            // done
                            if (result.success) {
                                Swal.fire({
                                    text: result.message,
                                    icon:"success"

                                }
                                ).then(
                                    function () {
                                        loadPatialData();
                                    }
                                );
                            }
                            // when cant add
                            else {
                                Swal.fire(
                                    {
                                        text: result.message,
                                        icon: "error"

                                    }
                                )
                            }

                        }

                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            //else if (result.dismiss === swal.DismissReason.cancel) {
            //    swal.fire({
            //         text: 'No Request has been approved.',
            //        icon: 'info',
            //        confirmButtonClass: "btn btn-grey",
            //     })
           // }
        });

    }

</script>

<script>

    function getHrusers(ReqID) {
        $('#hrItem').append('<option value="" selected disabled>Select Type</option>');

        $.ajax({
            url: "/Requests/getCycleHrUser",
            type: "Get",
            data: { ReqID},
            success: response => {
            
                    response.forEach(d => {
                        $('#hrItem').append(`<option value="${d.id}">${d.name}</option>`);
                    });
                console.log(response);
            },
            error: function (x, y) {
                console.log();

            }
        });

    }
</script>