@model List<AGMPOP.BL.Models.ViewModels.CycleVM>
@using AGMPOP.BL.Models.ViewModels
@{var CurrentDate = DateTime.Now;}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body">

            <table id="cycles-table" class="table table-striped table-responsive-sm">
                <thead>
                    <tr>
                        <th data-field="id" class="text-center">ID</th>
                        <th data-field="name">Name</th>
                        <th data-field="type" class="text-center">Type</th>
                        <th data-field="department" class="text-center">Department</th>
                        <th data-field="from" class="text-center">From</th>
                        <th data-field="to" class="text-center">To</th>
                        <th data-field="reconciliationdate" class="text-center">Reconciliation Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Active</th>
                        <th data-sortable="false" >Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @{

                        if (Model.Count != 0)
                        {



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.CycleId
                                    </td>
                                    <td>
                                        <a href="CycleDetails/@item.CycleId" class="btn-link text-primary">@item.Name</a>
                                    </td>
                                    <td class="text-center">
                                        @if (item.CycleType == 1)
                                        {
                                            @(((POPEnums.CycleType.Nation_Wide)).ToString().Replace("_"," "))

                                        }
                                        else
                                        {
                                            @(((POPEnums.CycleType.Event)).ToString())
                                        }
                                    </td>
                                    <td class="text-center">
                                        @item.DepartmentName
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ReconciliationDate)
                                    </td>
                                    <td class="text-center">
                                        @if (item.StartDate > CurrentDate)
                                        {
                                            @(((POPEnums.CycleStatus.Upcoming)).ToString())
                                        }
                                        else if (item.StartDate <= CurrentDate && item.EndDate >= CurrentDate)
                                        {
                                            @(((POPEnums.CycleStatus.Running)).ToString())
                                        }
                                        else if (item.EndDate < CurrentDate)
                                        {
                                            @(((POPEnums.CycleStatus.Ended)).ToString())
                                        }
                                    </td>

                                    <td class=" text-center">
                                        @if (item.CycleIsActive == true)
                                        {
                                            <i title="Active" class="material-tooltip-main text-success fas fa-check-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">1</span></i>
                                        }
                                        else
                                        {
                                            <i title="Inactive" class="material-tooltip-main text-danger fas fa-times-circle" data-toggle="tooltip" style="font-size:20px;"><span class="sr-only">0</span></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a class="material-tooltip-main btn-primary btn-floating btn-sm" data-toggle="tooltip" title="Edit" href='@Url.Action("UpdateCycle", "Cycles", new { Id = item.CycleId })'>
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>

                                        @if (item.CycleIsActive == false)
                                        {
                                            <button class="material-tooltip-main btn-success btn-floating btn-sm btnActivation" data-toggle="tooltip" title="Active" value="@item.CycleId">
                                                <i class="fas fa-lock-open"></i>
                                            </button>


                                        }
                                        else
                                        {
                                            <button class="material-tooltip-main btn-danger btn-floating btn-sm btnDectivation" data-toggle="tooltip" title="Deactivate" value="@item.CycleId">
                                                <i class="fas fa-lock"></i>
                                            </button>

                                        }

                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="10" class="lead">There is no data to view</td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
@if (Model.Count > 0)
{
    <script>
        $(document).ready(function () {

            $('#cycles-table').DataTable({
                "ordering": false,
                // "order": [[3, "desc"]]
            });

           
        });
    </script>
}

<script type="text/javascript">
        $(function () {
            $(".btnActivation").click(function (e) {
                var CycletId = $(this).val();

                Swal.fire({
                     text: "Active Cycle ?",
                    icon: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '@Url.Action("Activate", "Cycles")',
                            data: { CycletId },
                            type: "Post",
                            success: function (data) {

                                if (data.success == true) {
                                    Swal.fire({
                                        text: "Cycle activated successfully",
                                        icon: 'success'
                                    }).then(
                                        function () {
                                            loadCycles();

                                        }
                                    );
                                }

                                else {
                                    Swal.fire({
                                        text: data.message,
                                        icon: 'error'
                                    })
                                }

                            },

                        });
                    }
                })

            })
        })

        $(function () {
            $(".btnDectivation").click(function (e) {
                var CycletId = $(this).val();
                Swal.fire({
                    text: "Deactivate Cycle ?",
                    icon: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '@Url.Action("Deactivate", "Cycles")',
                            data: { CycletId },
                            type: "Post",
                            success: function (data) {

                                if (data.success == true) {
                                    Swal.fire({
                                        text: "Cycle deactivated successfully",
                                        icon: 'success'
                                    }).then(
                                        function () {
                                            loadCycles();

                                        }
                                    );
                                }

                                else {
                                    Swal.fire({
                                        text: data.message,
                                        icon: 'error'
                                    })
                                }
                            },
                        });


                    }

                })

            })
        })

</script>
