@model AGMPOP.BL.Models.ViewModels.CycleVM

@{
    ViewData["Title"] = "Cycles List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 
    <div class="row">


        <div class="col-12 text-right mt-2 mb-1 mr-0">

            <a class="material-tooltip-main  btn btn-secondary  text-center ml-0 mt-0 px-3 waves-effect waves-light" href='@Url.Action("NewTransaction", "Transaction")'>
                <i class="fal  fa-plus fa-align-center " style="vertical-align: middle !important; margin-top:-4px; font-size:18px;"> </i> &nbsp;Add Transaction
            </a>
            <a class=" material-tooltip-main  btn btn-primary  text-center ml-0 mt-0 px-3  mr-0 waves-effect waves-light" href='@Url.Action("CreateCycle", "Cycles")'>
                <i class="fal  fa-plus fa-align-center" style="vertical-align: middle !important; margin-top:-4px; font-size:18px;"> </i> &nbsp; Add Cycle
            </a>



        </div>
    </div>
 

<div class=" card px-3 py-1 m-0  mb-2  accordion">
    <div class="" style="overflow: visible">
        <div class="d-flex justify-content-between  "
             data-toggle="collapse"
             href="#divCollapseSearch"
             role="button"
             aria-expanded="false"
             aria-controls="divCollapseSearch"
             style="cursor: pointer">
            <h5 class="mt-2 font-weight-bold"><i class="far fa-search" style="font-size: 20px;"></i>  Search</h5>
            <span><i class="fa fa-angle-double-down " style="margin-top:10px"></i></span>

        </div>

        <div id="divCollapseSearch" class="collapse">
            <hr /><br />
            <form id="formSearchCycles">
                <input type="hidden" id="hfTerritories" name="SelectedTerritories" />

                <div class="row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="StartDate"></label>
                        <input  name="SearchStartDate" class="form-control datetimepicker2" />
                    </div>

                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="EndDate"></label>
                        <input  name="SearchEndDate" class="form-control datetimepicker2" />
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="IsActive"></label>
                        <select asp-for="IsActive" class="mdb-select" multiple Searchable="Search here...">
                            <option value="" class="default" selected disabled>Active/InActive </option>
                            <option value="true">Active</option>
                            <option value="false">InActive</option>
                        </select>
                    </div>
                    <div class=" col-sm-6 col-md-4">
                        <label >Status</label>
                        <select asp-for="Status" class="mdb-select" Searchable="Search here..." >
                            
                        </select>
                    </div>

                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" class="mdb-select" multiple Searchable="Search here...">
                            <option value="" selected disabled>Select Type</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label asp-for="Department"></label>
                        <select asp-for="DepartmentIds" class="mdb-select" multiple Searchable="Search here...">
                            <option class="default" value="" selected disabled>Select depatrtment</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div id="geo-tree" class="rounded border border-light" style="max-height: 300px; overflow:auto; background-color:#fafafa; padding:30px;"></div>

                    </div>

                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-secondary px-4 m-0" onclick ="clearBTN()">
                            Clear
                        </button>
                        <button type="submit" class="btn mr-0  btn-primary px-3">
                            Search
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<div id="PartialCycleList" >

</div>



<!--loadCycleData-->

@*<script>
    function loadCycleData() {
         $.ajax({
            url: '@Url.Action("_CycleSearch", "Cycles")',
            type: "Get",
            contentType: "application/json; charset=utf-8",
             success: function (data) {

                 $('#PartialCycleList').html(data);
            },
             error: function (x) {

                alert("error" + x);
            },
        });
    }

</script>*@
<!--getAllStatus-->

<script>

         function getAllStatus() {
          $('#Status').empty();
          $('#Status').append('<option class="default" value="" selected disabled>Select Status</option>');
          $.ajax({
              url: '@Url.Action("LoadCycleStatus", "cycles")',
              method: 'GET',
              async: false,

              success: response => {
                  if (response) {
                      response.forEach(d => {
                          $('#Status').append(`<option value="${d.id}">${d.name}</option>`);
                      });
                  }
              }
          });
    }
</script>
<!--getAllTypes-->

<script>

     function getAllTypes() {
        $('#Type').empty();
        $('#Type').append('<option  class="default" value="" selected disabled>Select Type</option>');

          $.ajax({
              url: '@Url.Action("LoadCycleTypes","cycles")',
              method: 'GET',
              async: false,
              success: response => {
                  console.log(response);
                  if (response) {
                      response.forEach(d => {
                          $('#Type').append(`<option value="${d.typeId}">${d.name}</option>`);
                      });
                  }
              }
          });
    }

     function getAllDepartments() {
        $('#DepartmentIds').empty();
        $('#DepartmentIds').append('<option  class="default" value="" selected disabled>Select Department</option>');

        $.ajax({
            url: '@Url.Action("GetAllDepartments", "Common")',
            method: 'GET',
            success: response => {
                if (response && response.length) {
                    response.forEach(j => {
                        $('#DepartmentIds').append(`<option value="${j.id}">${j.name}</option>`);
                    });
                }
            }
        });
    }
</script>

<!--LoadExtOrgTree-->

<script>



    function LoadExtOrgTree() {


        $('#geo-tree')
            .jstree({
                "core": {
                    "animation": 0,
                    "check_callback": true,
                    'force_text': true,
                    "themes": { "": true },
                    'data': @Html.Raw(ViewBag.TreeData)
                },
                "types": {
                    "#": { "max_children": 1, "max_depth": 4, "valid_children": ["root"] },
                    "root": { "icon": "", "valid_children": ["default"] },
                    "default": { "icon": "fas fa-file text-primary", "valid_children": ["default", "file"] },
                    "file": { "icon": "", "valid_children": [] }
                },
                "plugins": ["types", "wholerow", "checkbox"]
            }).on('changed.jstree', function (e, data) {
                if (data.selected.length) {
                    $('#hfTerritories').val(data.selected.join(','));
                } else {
                    $('#hfTerritories').val('');
                }
            });
    };


</script>

<script>

    function loadCycles(e) {
        if (e) {
            e.preventDefault();
            e.returnValue = false;
        }

        var form = $('#formSearchCycles').serialize();
        console.log(form);
         $.ajax({
            url: '@Url.Action("_CycleSearch")?' + form,
            method: 'GET',
            success: response => {
                if (response) {

                    $('#PartialCycleList').html(response);
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        text: 'Failed to load roles',
                    });
                }
            }
        });
    }

    function clearBTN() {
        $("#formSearchCycles").resetForm();
        $(".default").attr('selected', true);
        loadCycles();
    }

</script>




<script>
    $(() => {
        loadCycles();
        getAllTypes();
        getAllDepartments();
        getAllStatus();
        LoadExtOrgTree();
        $('#formSearchCycles').on('submit', loadCycles);
    })

    
</script>