@model List<AGMPOP.Web.Models.UserVM>

<style>
    th, td {
        text-align: center;
    }
</style>
<table id="tblUsers" class="table table-striped table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role(s)</th>
            <th>Department</th>
            <th>Job Title</th>
            <th>Active</th>
             <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count > 0)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Roles</td>
                    <td>@item.Department</td>
                    <td>@item.JobTitle</td>
                    <td>
                        @if (item.IsActive)
                        {
                            <i title="Active" class="text-success fas fa-check-circle" style="font-size:20px;"><span class="sr-only">1</span></i>
                        }
                        else
                        {
                            <i title="Inactive" class="text-danger fas fa-times-circle" style="font-size:20px;"><span class="sr-only">0</span></i>
                        }
                    </td>
                  
                    <td class="text-center">
 

                        <button class="material-tooltip-main btn btn-info btn-floating my-0 p-0" data-toggle="tooltip" title="reset password" onclick="resetPassword(@item.Id)">
                            <i class="far fa-key" style="font-size:17px; margin-top:-5px;"></i>
                         </button>

                        <a href="@Url.Action("UpdateUser", new { Id = item.Id })" class="material-tooltip-main btn-primary  btn btn-floating my-0 p-0" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-edit " style="font-size:15px; margin-top:-5px;"></i>
                        </a>
                        @if (item.IsActive)
                        {
                            <button class="material-tooltip-main btn btn-danger btn-floating my-0 p-0" data-toggle="tooltip" title="deactivate" onclick="deactivateUser(@item.Id)">
                                <i class="fad fa-user-times   " style="font-size:15px; margin-top:-5px;"></i>
                            </button>
                        }
                        else
                        {
                            <button class="material-tooltip-main btn btn-success btn-floating my-0 p-0" data-toggle="tooltip" title="activate" onclick="activateUser(@item.Id)">
                                <i class="fad fa-user-check   " style="font-size:15px; margin-top:-5px;"></i>
                            </button>

                        }
                    </td>
                </tr>
            }
        }
        else
        {
                <tr>
                    <td colspan="9" class="text-center">No users found</td> 
                </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var count = @Html.Raw(Model?.Count);
        if (count) {
            $("#tblUsers").dataTable();
        }

        $(function () {
            $('.material-tooltip-main').tooltip();
        })
    })
</script>
